{% extends "base.html" %}
{% block title %}File Upload (MinIO){% endblock %}
{% block content %}

  <h2>File Upload (MinIO)</h2>

  <form method="post" enctype="multipart/form-data" class="mb-4">
    <div class="input-group">
      <input type="file" name="file" class="form-control">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>

  {% if message %}
    <div class="alert alert-info">{{ message }}</div>
  {% endif %}

  <h4>Uploaded Files</h4>
  <ul class="list-group">
    {% for file in files %}
      <li class="list-group-item">{{ file }}</li>
    {% endfor %}
  </ul>

{% endblock %}
